Repository gardener/machine-controller-manager-provider-kubevirt, pull requests merged in 2020-10, with the labels that each got.

#20 Add hugepages support
  pkg/kubevirt/apis/provider_spec.go
  pkg/kubevirt/core/core.go
  pkg/kubevirt/validation/validation.go
Labels: needs/ok-to-test

#21 Fix gRPC error decoding errors
  pkg/kubevirt/machine_server.go
  pkg/kubevirt/machine_server_util.go
Labels: needs/ok-to-test, reviewed/lgtm

#23 Accept a single zone in provider spec
  pkg/kubevirt/apis/provider_spec.go
  pkg/kubevirt/core/core.go
  pkg/kubevirt/core/util.go
Labels: needs/ok-to-test, reviewed/lgtm

#22 Support CPU topology and resource limits
  pkg/kubevirt/apis/provider_spec.go
  pkg/kubevirt/core/core.go
  pkg/kubevirt/core/core_test.go
  pkg/kubevirt/machine_server_util.go
  pkg/kubevirt/util/util.go
  pkg/kubevirt/validation/validation.go
Labels: needs/ok-to-test, reviewed/lgtm

#24 fix errs check condition for spec and secrets validator
  pkg/kubevirt/machine_server_util.go
Labels: kind/bug, needs/ok-to-test

#25 Generalize root volume and add support for additional volumes
  pkg/kubevirt/apis/provider_spec.go
  pkg/kubevirt/core/core.go
  pkg/kubevirt/core/core_test.go
  pkg/kubevirt/core/util.go
  pkg/kubevirt/machine_server_util.go
  pkg/kubevirt/validation/validation.go
Labels: needs/ok-to-test, reviewed/lgtm, size/l

#26 Ensure consistent ordering of provider spec fields
  pkg/kubevirt/apis/provider_spec.go
  pkg/kubevirt/core/core_test.go
  pkg/kubevirt/validation/validation.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#27 Improve error wrapping, error messages, and comments
  pkg/kubevirt/apis/provider_spec.go
  pkg/kubevirt/core/core.go
  pkg/kubevirt/core/core_test.go
  pkg/kubevirt/core/errors.go
  pkg/kubevirt/core/util.go
  pkg/kubevirt/machine_server.go
  pkg/kubevirt/machine_server_util.go
  pkg/kubevirt/plugin.go
  pkg/kubevirt/validation/validation.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#30 Update README and example manifests
  Makefile
  README.md
  kubernetes/crds.yaml
  kubernetes/deployment.yaml
  kubernetes/machine-class.yaml
  kubernetes/machine-deployment.yaml
  kubernetes/machine.yaml
  kubernetes/secret.yaml
  pkg/kubevirt/core/core_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#29 Match DV disks with volumes
  pkg/kubevirt/apis/provider_spec.go
  pkg/kubevirt/core/core.go
  pkg/kubevirt/core/core_test.go
  pkg/kubevirt/core/util.go
  pkg/kubevirt/validation/validation.go
Labels: needs/changes, needs/ok-to-test, needs/second-opinion, size/m

#31 Add blog post to README
  README.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, platform/kubevirt, priority/normal, size/xs
